<div class="slider">
    <img src="../../../assets/imgs/main.jpg" alt="">
    <h2>Bienvenido a la revista Vector, usted también puede hacer parte de nuestros autores solo debe registrarse para empezar a publicar sus artículos.</h2>
</div>

<div *ngFor="let fila of lista | paginate: { itemsPerPage: 10, currentPage: cp,totalItems : total } " class="row">
    <div *ngFor="let data of fila" class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">{{ data.title }}</h4>
                <span class="info">{{data.date | date}}  {{ data.author.first_name + " " + data.author.first_last_name }}</span>
                <br>
                <p class="abstract">
                    {{data.abstract}}
                </p>
                <div class="file">
                    <a target="_blanck" href="http://localhost:3000/api/containers/pdf/download/{{ data.file }}">
                        <i class="material-icons">cloud_download</i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col s4 offset-s8">
        <pagination-controls (pageChange)="cp = $event"></pagination-controls>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Descripción de la revista</h3>
        <h6>La revista Vector sale a la luz en noviembre del año 2006 como un órgano de difusión de las actividades docentes, científicas y tecnológicas llevadas a cabo por el talento humano de la comunidad ingenieril nacional e internacional. La revista está adscrita a la Facultad de Ingeniería de la Universidad de Caldas. </h6>
        <br><br>
        <h3>Forma de calificación de los artículos</h3>
        <h6>Todos los artículos que son publicados en la revista, primero pasan por un proceso de calificación en el cual 3 evaluadores se encargan de calificar el arículo dandole una puntuación 0 a 5 estrellas.</h6>
        <h6>Después de que los tres evaluadores tomen la decisión, se promediara las calificaciones y se le notificara el nuevo estado de su artículo.</h6>
        <h5>Siendo los rangos de calificación los siguientes:</h5>
        <h6>• Entre 1 y 2,99: el artículo será rechazado.</h6>
        <h6>• Entre 3 y 3,99: el artículo será aceptado con cambios. </h6>
        <h6>• Entre 4 y 5: el artículo será aceptado. </h6>
        <br>
        <h6>Mientras su artículo no este en evaluación podra modificar toda la infromación cargada en el primer envio.</h6>
        <h6>Si su artículo es aceptado con cambios debera subir un nuevo archivo y el artículo pasara a estado aceptado.</h6>
    </div>
</div>