<div class="row">
    <div class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">Titulo</h4>
                <span class="info">fecha-autor</span>
                <br>
                <p class="abstract">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque assumenda beatae rem
                    obcaecati cum
                    aliquam
                    quo eligendi sapiente molestiae deleniti natus nesciunt quidem debitis delectus dolorem, illo
                    repellat
                    consectetur voluptas.
                </p>
                <div class="file">
                    <i class="material-icons">cloud_download</i>
                </div>
            </div>

        </div>
    </div>
    <div class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">Titulo</h4>
                <span class="info">fecha-autor</span>
                <br>
                <p class="abstract">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque assumenda beatae rem
                    obcaecati cum
                    aliquam
                    quo eligendi sapiente molestiae deleniti natus nesciunt quidem debitis delectus dolorem, illo
                    repellat
                    consectetur voluptas.
                </p>
                <div class="file">
                    <i class="material-icons">cloud_download</i>
                </div>
            </div>

        </div>
    </div>
    <div class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">Titulo</h4>
                <span class="info">fecha-autor</span>
                <br>
                <p class="abstract">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque assumenda beatae rem
                    obcaecati cum
                    aliquam
                    quo eligendi sapiente molestiae deleniti natus nesciunt quidem debitis delectus dolorem, illo
                    repellat
                    consectetur voluptas.
                </p>
                <div class="file">
                    <i class="material-icons">cloud_download</i>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">Titulo</h4>
                <span class="info">fecha-autor</span>
                <br>
                <p class="abstract">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque assumenda beatae rem
                    obcaecati cum
                    aliquam
                    quo eligendi sapiente molestiae deleniti natus nesciunt quidem debitis delectus dolorem, illo
                    repellat
                    consectetur voluptas.
                </p>
                <div class="file">
                    <i class="material-icons">cloud_download</i>
                </div>
            </div>

        </div>
    </div>
    <div class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">Titulo</h4>
                <span class="info">fecha-autor</span>
                <br>
                <p class="abstract">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque assumenda beatae rem
                    obcaecati cum
                    aliquam
                    quo eligendi sapiente molestiae deleniti natus nesciunt quidem debitis delectus dolorem, illo
                    repellat
                    consectetur voluptas.
                </p>
                <div class="file">
                    <i class="material-icons">cloud_download</i>
                </div>
            </div>

        </div>
    </div>
    <div class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">Titulo</h4>
                <span class="info">fecha-autor</span>
                <br>
                <p class="abstract">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque assumenda beatae rem
                    obcaecati cum
                    aliquam
                    quo eligendi sapiente molestiae deleniti natus nesciunt quidem debitis delectus dolorem, illo
                    repellat
                    consectetur voluptas.
                </p>
                <div class="file">
                    <i class="material-icons">cloud_download</i>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">Titulo</h4>
                <span class="info">fecha-autor</span>
                <br>
                <p class="abstract">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque assumenda beatae rem
                    obcaecati cum
                    aliquam
                    quo eligendi sapiente molestiae deleniti natus nesciunt quidem debitis delectus dolorem, illo
                    repellat
                    consectetur voluptas.
                </p>
                <div class="file">
                    <i class="material-icons">cloud_download</i>
                </div>
            </div>

        </div>
    </div>
    <div class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">Titulo</h4>
                <span class="info">fecha-autor</span>
                <br>
                <p class="abstract">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque assumenda beatae rem
                    obcaecati cum
                    aliquam
                    quo eligendi sapiente molestiae deleniti natus nesciunt quidem debitis delectus dolorem, illo
                    repellat
                    consectetur voluptas.
                </p>
                <div class="file">
                    <i class="material-icons">cloud_download</i>
                </div>
            </div>

        </div>
    </div>
    <div class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">Titulo</h4>
                <span class="info">fecha-autor</span>
                <br>
                <p class="abstract">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque assumenda beatae rem
                    obcaecati cum
                    aliquam
                    quo eligendi sapiente molestiae deleniti natus nesciunt quidem debitis delectus dolorem, illo
                    repellat
                    consectetur voluptas.
                </p>
                <div class="file">
                    <i class="material-icons">cloud_download</i>
                </div>
            </div>

        </div>
    </div>
</div>