<div class="slider">
    <img src="../../../assets/imgs/main.jpg" alt="">
    <h2>Bienvenido a la revista, usted también puede hacer parte de nosotros solo debe registrarse para empezar a publicar sus artículos.</h2>
</div>

<div *ngFor="let fila of lista" class="row">
    <div *ngFor="let data of fila" class="col s12 m4 center">
        <div class="card">
            <div class="banner">
                <img src="../../../assets/imgs/newspaper.png" alt="">
            </div>
            <div class="body">
                <h4 class="title">{{ data.title }}</h4>
                <span class="info">{{data.date | date}}  {{ data.author.first_name + " " + data.author.first_last_name }}</span>
                <br>
                <p class="abstract">
                    {{data.abstract}}
                </p>
                <div class="file">
                    <a target="_blanck" href="http://localhost:3000/api/containers/pdf/download/{{ data.file }}">
                        <i class="material-icons">cloud_download</i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Descripción de la revista</h3>
    </div>
</div>