<div class="container">
    <!-- Modal Structure -->
    <div id="modalInfo" class="modal">
        <div class="modal-content">
            <h4 class="center" id="modal-title"></h4>
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info_outline</i>
                        <input value="{{ dataArticle.title }}" id="title" type="text" autocomplete="off" readonly>
                        <label class="active" for="title">Título</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info_outline</i>
                        <textarea value="{{ dataArticle.abstract }}" id="abstract" type="text"
                            class="materialize-textarea" autocomplete="off" readonly></textarea>
                        <label class="active" for="abstract">Resumen</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info_outline</i>
                        <input value="{{ dataArticle.key_words }}" id="key_words" type="text" autocomplete="off"
                            readonly>
                        <label class="active" for="key_words">Palabras Claves</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info_outline</i>
                        <input value="{{ dataArticle.date | date }}" id="date" type="text" autocomplete="off" readonly>
                        <label class="active" for="date">Fecha</label>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="modal-footer">
            <a (click)="closeModalInfo()" class="modal-close waves-effect waves-red btn-flat">Cerrar</a>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modalAsignar" class="modal">
        <div class="modal-content">
            <h4 class="center" id="modal-title"></h4>
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="input-field col s12">
                        <label>Evaluadores</label>
                        <select [(ngModel)]="articleAux.assessors" multiple>
                            <option value="" disabled selected>Seleccione los Evaluadores</option>
                            <option *ngFor="let assessor of listAssessors" value="id{{ assessor.id }}">
                                {{ assessor.first_name + ' ' + assessor.second_name + ' ' + assessor.first_last_name + ' ' + assessor.second_last_name  }}
                            </option>
                        </select>
                    </div>
                    <div class="col s12 center">
                        <button (click)="closeModalAsignar()" style="margin-right: 15px;"
                            class="btn blue">Cancelar</button>
                        <button (click)="asignarAssessors()" class="btn blue">Asignar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>Lista de articulos de la Edición: {{ nameEdition }}</h3>
    <div class="row">
        <button style="margin-right: 8px" class="btn blue" (click)="getListArticles('enviado')">Enviados</button>
        <button style="margin-right: 8px" class="btn blue" (click)="getListArticles('rechazado')">Rechazado</button>
        <button style="margin-right: 8px" class="btn blue" (click)="getListArticles('aceptado con cambios')">Aceptado
            con
            Cambios</button>
        <button class="btn blue" (click)="getListArticles('aceptado')">Aceptado</button>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th class="center">Opciones</th>
                </tr>
            </thead>
            <tbody>               
                <tr *ngFor="let article of listArticles">
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.state | uppercase }}</td>
                    <td class="center">
                         <!-- descargar archivo  -->
                         <a target="_blanck" href="http://localhost:3000/api/containers/pdf/download/{{ article.file }}" style="margin-right: 8px;" class="btn blue" download>
                            <i class="material-icons">cloud_download</i>
                        </a>
                        <a style="margin-right: 8px;" (click)="info(article)" class="btn green">
                            <i class="material-icons">remove_red_eye</i>
                        </a>
                        <a *ngIf='article.state == "enviado"' style="margin-right: 8px;"
                            (click)="openModalAsignar(article)" class="btn teal darken-4">
                            <i class="material-icons">playlist_add</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>