<div class="container">
    <br>
    <div style="height: auto;">
        <canvas id="articulos"></canvas>
    </div>

    <div *ngIf="listaEnviado.length > 0">
        <h4>Artículos enviados</h4>
        <table id="enviados">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Título</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of listaEnviado">
                    <td>{{ e.id }}
                    </td>
                    <td>{{ e.date | date }}</td>
                    <td>{{ e.title }}</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div *ngIf="listaEvaluacion.length > 0">
        <h4>Artículos en evaluación</h4>
        <table id="evaluacion">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Título</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of listaEvaluacion">
                    <td>{{ e.id }}
                    </td>
                    <td>{{ e.date | date }}</td>
                    <td>{{ e.title }}</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div *ngIf="listaRechazado.length > 0">
        <h4>Artículos rechazados</h4>
        <table id="rechazados">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Título</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of listaRechazado">
                    <td>{{ e.id }}
                    </td>
                    <td>{{ e.date | date }}</td>
                    <td>{{ e.title }}</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div *ngIf="listaCambios.length > 0">
        <h4>Artículos aceptados con cambios</h4>
        <table id="cambios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Título</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of listaCambios">
                    <td>{{ e.id }}
                    </td>
                    <td>{{ e.date | date }}</td>
                    <td>{{ e.title }}</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div *ngIf="listaAceptado.length > 0">
        <h4>Artículos aceptados</h4>
        <table id="aceptados">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Título</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of listaAceptado">
                    <td>{{ e.id }}
                    </td>
                    <td>{{ e.date | date }}</td>
                    <td>{{ e.title }}</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div class="row">
        <div class="col s12 center">
            <button (click)="generarPDF()" class="btn blue">Descargar listado en PDF</button>
        </div>
    </div>
</div>