<div class="row center-align">
    <br>
    <div class="col offset-m3 borde-blue s12 m6">
        <h3 class="center">Iniciar Sesión</h3>
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input [(ngModel)]="email" id="email" type="email" class="validate" autocomplete="off">
            <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">fingerprint</i>
            <input [(ngModel)]="password" id="password" type="password" class="validate">
            <label for="password">Contraseña</label>
        </div>
        <a routerLink="../reset" >Olvide mi Contraseña</a>
        <div class="col s12 center">
            <br>
            <button (click)="login()" class="btn waves-effect waves-light blue"><i class="material-icons right">send</i>Iniciar Sesión</button>
            <br>
            <br>
        </div>
    </div>
    <br>
</div>