<div class="row center-align">
    <br>
    <div class="col offset-m3 borde-blue s12 m6">
        <h3 class="center">Recuperar Contraseña</h3>
        <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate" autocomplete="off">
            <label for="email">Email</label>
        </div>
        <div class="input-field col s12 center">
            <re-captcha (resolved)="resolved($event)" siteKey="6LfaN7AUAAAAAEg4G67MXj6fsZE1psStk7PrSJVy"></re-captcha>
        </div>
        <div class="col s12 center">
            <button class="btn waves-effect waves-light blue">
                <i class="material-icons right">send</i>
                Recuperar Contraseña
            </button>
            <br>
            <br>
        </div>
    </div>
    <br>
</div>